<div class="login-content">

        <div class="lc-block toggled" id="l-login">
           
           <p class="text-left">Por favor indique la direccion de email que utilizo para registrarse en el servicio</p>
            
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Email Address">
                </div>
            </div>
            
            <a href="" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></a>
            
            <ul class="login-navigation">
                <li ui-sref="login" class="bgm-green">Login</li>
                <li ui-sref="register" class="bgm-red">Registerarse</li>
            </ul>

        </div>

</div>