
<div class="login-content"> 
           
               <!-- Login -->
        <div class="lc-block toggled" id="l-login">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Usuario">
                </div>
            </div>
            
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i>
                    Recuerdame
                </label>
            </div>
            
            <a ui-sref="app.main" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></a>
            
            <ul class="login-navigation">
                <li ui-sref="register" class="bgm-red">Registrarse</li>
                <li ui-sref="forgot" class="bgm-orange">Olvide mi contraseña?</li>
            </ul>
        </div>
</div>
        